rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // REGLAS DE DESARROLLO:
    // Permite que cualquier usuario que haya iniciado sesión lea y escriba en cualquier parte.
    // ¡ADVERTENCIA! Esto es solo para la fase de desarrollo.
    // Debemos cambiarlas por reglas más seguras antes de lanzar la aplicación.
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}

